 <div class="row">
   <div class="col-sm-6 col-md-4">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image" style="height:200px;width:297px">
            <div class="card-body">
              <h4 class="card-title">Gothic Game</h4>
              <p class="card-text">Some example text some example text. Gothic is a great game!</p>
                <div class="clearfix">
                  <div class="pull-left" style="font-weight: bold;font-size: 16px">$12</div>
                  <a href="#" class="btn btn-success pull-right">See Profile</a>
                </div>
            </div>
        </div>    
   </div>

   <div class="col-sm-6 col-md-4">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image" style="height:200px;width:297px">
            <div class="card-body">
              <h4 class="card-title">Gothic Game</h4>
              <p class="card-text">Some example text some example text. Gothic is a great game!</p>
                <div class="clearfix">
                  <div class="pull-left" style="font-weight: bold;font-size: 16px">$12</div>
                  <a href="#" class="btn btn-success pull-right">See Profile</a>
                </div>
            </div>
        </div>    
   </div>

   <div class="col-sm-6 col-md-4">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image" style="height:200px;width:297px">
            <div class="card-body">
              <h4 class="card-title">Gothic Game</h4>
              <p class="card-text">Some example text some example text. Gothic is a great game!</p>
                <div class="clearfix">
                  <div class="pull-left" style="font-weight: bold;font-size: 16px">$12</div>
                  <a href="#" class="btn btn-success pull-right">See Profile</a>
                </div>
            </div>
        </div>    
   </div>
</div>
<br>
<div class="row">
   <div class="col-sm-6 col-md-4">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image" style="height:200px;width:297px">
            <div class="card-body">
              <h4 class="card-title">Gothic Game</h4>
              <p class="card-text">Some example text some example text. Gothic is a great game!</p>
                <div class="clearfix">
                  <div class="pull-left" style="font-weight: bold;font-size: 16px">$12</div>
                  <a href="#" class="btn btn-success pull-right">See Profile</a>
                </div>
            </div>
        </div>    
   </div>

   <div class="col-sm-6 col-md-4">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image" style="height:200px;width:297px">
            <div class="card-body">
              <h4 class="card-title">Gothic Game</h4>
              <p class="card-text">Some example text some example text. Gothic is a great game!</p>
                <div class="clearfix">
                  <div class="pull-left" style="font-weight: bold;font-size: 16px">$12</div>
                  <a href="#" class="btn btn-success pull-right">See Profile</a>
                </div>
            </div>
        </div>    
   </div>

   <div class="col-sm-6 col-md-4">
        <div class="card" style="width:300px">
          <img class="card-img-top" src="https://upload.wikimedia.org/wikipedia/en/5/5e/Gothiccover.png" alt="Card image" style="height:200px;width:297px">
            <div class="card-body">
              <h4 class="card-title">Gothic Game</h4>
              <p class="card-text">Some example text some example text. Gothic is a great game!</p>
                <div class="clearfix">
                  <div class="pull-left" style="font-weight: bold;font-size: 16px">$12</div>
                  <a href="#" class="btn btn-success pull-right">See Profile</a>
                </div>
            </div>
        </div>    
   </div>
</div>